.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #3498db; /* Cor da borda (use a cor que preferir) */
    padding: 20px; /* Espaçamento interno para o conteúdo */
    margin: 50px; /* Espaçamento externo para separar do restante da página */
    border-radius: 8px; /* Borda arredondada (opcional) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */

    gap: 12px;

}